
  .nx_calendar {position: relative; z-index: 100; width: 190px; margin: 0; background: #fff}
  .nx_calendar table {
    width: 100% !important;
    margin: 0 !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    border: 0 !important;
    background: none !important}
  .nx_calendar table td {
    padding: 0 !important;
    border: 0 !important;
    background: none !important}
  .nx_calendar table thead,
  .nx_calendar table tbody {
    border: 0}

  .nx_calendar .header {margin: 10px 0 !important}
  .nx_calendar .header td {
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    text-align: center !important;
    cursor: default}

  .nx_calendar .header td.button-lt,
  .nx_calendar .header td.button-gt {width: 27px; height: 24px; cursor: pointer; background: url(images/nx_calendar-lt-gt-BG.png) no-repeat 0 50% !important}
  .nx_calendar .header td.button-gt {background-position: 100% 50% !important}
  .nx_calendar .header td.month_name {}

  .nx_calendar .calendar {}
  .nx_calendar .calendar thead td,
  .nx_calendar .calendar tbody td {
    width: 14.28%;
    padding: 2px !important;
    font-family: Arial;
    font-size: 12px;
    text-align: center !important;
    border: 1px solid #ccc !important;
    cursor: default}
  .nx_calendar .calendar thead td {
    font-weight: bold;
    background: #ccc !important}

  .nx_calendar .calendar td.weekend {color: #426fd9}
  .nx_calendar .calendar tbody tr.days td {cursor: pointer}
  .nx_calendar .calendar tbody tr.days td.prev-month {color: #ddd; cursor: default}
  .nx_calendar .calendar tbody tr.days td.next-month {color: #ddd; cursor: default}
  .nx_calendar .calendar tbody tr.days td.current {font-weight: bold !important; text-decoration: underline}
  .nx_calendar .calendar tbody tr.days td.selected {font-weight: bold !important; color: #fff !important; background: #426fd9 !important}
  .nx_calendar .calendar tbody tr.days td.selected-fade {background: #eee !important}
